.carousel.slide {
  opacity: 1;
}

.carousel-inner {
  height: 400px;
}
.carousel-item {
  height: 100%;
}

.hero-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}

.hero-text-wrapper {
  position: absolute;
  z-index: 1;
  text-align: center;
  bottom: 0;
  background-color: rgba(var(--overlay-color), 0.8);
  padding: 20px;
}

.hero-title {
  color: var(--body-text-color);
  margin-bottom: 20px;
  letter-spacing: 2px;
}

.hero-text {
  color: var(--body-text-color);
}

.carousel-control-next,
.carousel-control-prev {
  font-size: 20px;
  opacity: 0.8;
}

.carousel-control-prev {
  padding-left: 10px;
  justify-content: flex-start;
}
.carousel-control-next {
  padding-right: 10px;
  justify-content: flex-end;
}

@media (min-width: 768px) {
  .hero-text-wrapper {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: left;
    background-color: transparent;
    padding: 50px 30px 50px 200px;
  }

  .hero-title {
    font-size: 60px;
  }

  .hero-text {
    font-size: 20px;
  }
  .carousel-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(var(--overlay-color), 1);
    opacity: 0.7;
  }
  .carousel-control-next,
  .carousel-control-prev {
    font-size: 30px;
    opacity: 1;
  }
  .carousel-inner {
    height: 500px;
  }
  .carousel-control-next {
    padding-right: 30px;
  }
  .carousel-control-prev {
    padding-right: 30px;
  }
}

.search-bar .row {
align-items: flex-end;
}