/*------CARD CATEGORIAS*/

.cardCategoria:hover {
  box-shadow: 0px 2px 15px 5px #dbae26 !important;
  transition: all 0.3s linear;
}

.card-body {
  padding: 2rem 0 !important;
}

.card-text {
  padding: 0.3rem 1rem;
  font-size: 1rem;
}

.overflow {
  overflow: hidden;
}

.card-img-top {
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}

.card-img-top:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.cardsContainers {
  margin: 4%;
}

.card-space {
  margin-bottom: 2%;
}

/*-------------------*/

/*------CARD PRODUCTOS----*/

.cardButton {
  width: 50%;
  color: var(--header-background-color);
  font-weight: 700;
  background-color: #eea726;
  padding: 1%;
}

.imgCardProducto:hover {
  transform: scale(1);
  cursor: pointer;
}

.card-hover-effect:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease-in-out;
}

/*------CARD POLICY----*/
.policy h5 {
  color: var(--headings-text-color);
}
.policy p {
  color: var(--body-text-color-inverted);
}

/*------CARD CATEGORIA PRODUCTO----*/
/* Cards.css */
.overflow-Category {
  color: var(--secondary-foreground-color);
  width: auto;
  height: 5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 1rem;
}

.card-titleCategory {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}
.botonFiltro {
  color: var(--secondary-foreground-color);
  border-radius: 10px;
  padding: 0.5rem;
  background-color: var(--secondary-background-color);
}
.leyendaFiltros {
  color: var(--secondary-background-color);
  font-size: 1rem;
}
/*------CARD SIGNIN----*/
.aclaracionSignIn {
  text-align: center;
  color: var(--secondary-background-color);
}

.fav-button {
  width: 35px;
  height: 35px;
  padding: 1%;
  border: none;
  background-color: rgba(146, 146, 146, 0.521);
  border-radius: 50%;
  margin-bottom: auto;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
}

.tituloCard {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.fav-button:hover {
  width: 38px;
  height: 38px;
  padding: 1%;
  background-color: rgba(29, 116, 17, 0.384);
}

.cardProduct {
  height: 45%;
  width: 45%;
  padding: 1%;
  margin: 3px;
  background-color: var(--header-background-color);
}

.cardFavBtn {
  display: flex;
  align-items: end;
  justify-content: end;
}
