.logoSlogan {
  display: flex;
}

.bg-dark-blue {
  background-color: var(--header-background-color);
}

.img{
  border: none;
}

nav {
  height: inherit;
}

.navbar-brand {
  font-size: 1em;
  font-weight: 500;
  color: var(--headings-text-color);
  text-decoration: none;
}

.user-dropdown {
  color: white !important;
}

.navbar-brand small {
  margin-left: 10px;
}

.navbar-brand:hover {
  color: white;
}

.buttons {
  margin-top: 2em;
  margin-right: 3em;
}

.button {
  color: var(--headings-text-color);
  border: none;
}

.button:hover {
  color: white;
}
.no-highlight {
  color: white !important;
}

.nav-item {
  padding-right: 20px;
  transition: all 0.6s ease;
}

.nav-link.dropdown-toggle::after {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color:  var(--body-text-color);
  border-top: 0.4em solid;
  border-right: 0.4em solid transparent;
  border-left: 0.4em solid transparent;
  transition: all 0.6s ease;
}

.nav-link .user-sub {
  color: var(--body-text-color);
  display: flex;
  align-items: center;
}


.user-sub .user-pill {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--details-color);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-left: 10px;
}
.user-pill p {
  margin-bottom: 0;
}

.opt-dropdown {
  color: var(--headings-text-color);
  background-color: var(--header-background-color);
  border: none;
}

.nav-item .dropdown-menu[data-bs-popper] {
  width: 100%;
  border-radius: 0 0 5px 5px;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 0;
  opacity: 0;
  margin-top: calc(var(--mdb-navbar-padding-top) + var(--mdb-dropdown-spacer));
  z-index: -1;
}

.nav-item.show.dropdown .dropdown-menu[data-bs-popper] {
  height: 200%;
  opacity: 1;
  z-index: 1;
  padding: 15px;
}

.dropdown-item {
  position: relative;
  padding-left: 0;
}

.nav-item .dropdown-menu .dropdown-item::after {
  content:"";
  display: block;
  height: 2px;
  width: 0;
  position: absolute;
  left: 0;
  background-color: var(--header-background-color);
  transition: width 0.4s ease;
}

.nav-item .dropdown-menu .dropdown-item:hover {
  background-color: transparent;
}

.nav-item .dropdown-menu .dropdown-item:hover::after {
  width: 100%;
}

.header > button {
  color: white;
}

.navbar-toggler {
  background-color: white;
}

@media (max-width: 767px) {
  .navbar-brand small {
    display: none;
  }
  .nav-link.dropdown-toggle::after, #basic-navbar-nav {
    display: none;
  }
  .navbar-toggler-icon {
    background-image: var(--mdb-navbar-toggler-icon-bg) !important;
  }
  .user-sub{ 
    display: flex;
    align-items: center;
    
  }
  .user-sub .user-pill {
    margin-left: 0;
    margin-right: 10px;
  }
}

@media (min-width: 992px) {
  .opt-dropdown {
    display: none;
  }
}

@media (max-width: 2180px) {
  .navbar-brand img {
    height: 2.5em;
  }
}
