.logoSlogan {
  display: flex;
}

.bg-dark-blue {
  background-color: var(--header-background-color);
}

.img{
  border: none;
}

nav {
  height: inherit;
}

.navbar-brand {
  font-size: 1em;
  font-weight: 500;
  color: var(--headings-text-color);
  text-decoration: none;
}

.user-dropdown {
  color: white !important;
}

.navbar-brand small {
  margin-left: 10px;
}

.navbar-brand:hover {
  color: white;
}

.buttons {
  margin-top: 2em;
  margin-right: 3em;
}

.button {
  color: #be9e44;
  border: none;
}

.button:hover {
  color: white;
}
.no-highlight {
  color: white !important;
}

.user-sub {
  color: white !important;
}

.opt-dropdown {
  color: #be9e44;
  background-color: #262b3d;
  border: none;
}

.dropdown-menu[data-bs-popper] {
  right: 0;
  left: unset;
}

.header > button {
  color: white;
}

.navbar-toggler {
  background-color: white;
}

@media (max-width: 767px) {
  .navbar-brand small {
    display: none;
  }
}

@media (min-width: 992px) {
  .opt-dropdown {
    display: none;
  }
}

@media (max-width: 2180px) {
  .navbar-brand img {
    height: 2.5em;
  }
}
