.img-card {
  height: 100px;
}

.cards-container {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 90vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
}

.titulosCategorias {
  background-color: var(--headings-text-color);
  padding: 2px;
  width: 80%;
  color: white;
  margin: 0 auto;
  border-radius: 2px;
  margin-top: 3%;
}

/*---------CARROUSEL DE MARCAS -----------*/

.scroller {
  max-width: 72%;
  margin: 0 auto;
  background-color: white;
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.scroller[data-animated='true'] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated='true'] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction='right'] {
  --_animation-direction: reverse;
}

.scroller[data-direction='left'] {
  --_animation-direction: forwards;
}

.scroller[data-speed='fast'] {
  --_animation-duration: 20s;
}

.scroller[data-speed='slow'] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

.tag-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.tag-list li {
  padding: 1rem;
  background: var(--clr-primary-400);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem -0.25rem var(--clr-primary-900);
}

/* for testing purposed to ensure the animation lined up correctly */
.test {
  background: red !important;
}

.pagination {
  margin-top: 40px;
  justify-content: left;
  align-items: center;
}

.pagination button {
  margin: 0 5px; /* Espaciado entre los botones */
  padding: 8px 12px; 
  font-size: 14px; 
  background-color: #4f4d47; /* Color de los botones */
  color: #fff; 
  border: none; 
  cursor: pointer;
}

.pagination button:hover {
  background-color: #121847; 
}

.pagination span {
  margin: 0 10px; 
  font-size: 14px; 
  color: #d7d5c9; 
}