.form-check input{
    width: 1.25rem;
    height: 1.25rem;
    margin-top: 0.125em;
    margin-right: 4px;
    float: left;
    margin-left: -1.5em;
}

.input-values-instruments {
    background-color: white;
    border: 1px solid #be9e44;
    border-radius: 5px;
    color: #262b3d;
    padding: 5px;
}

.margin-labels{
    display: flex;
    flex-direction: column;
    padding-left: 0.4vw;
}
.flex-box-radio {
    display: flex;
    justify-content: space-around;
    padding: 2vh;
}

.images-upload {
    display: block;
    padding-bottom: 1.5vh;
}

.w-100 {
    height: 33vh;
}

input[type="file"]{
    display: none;
}

.file-button {
    color: var(--headings-text-color);
    height: 7vh;
    width: 45%;
    background-color: #4e577b;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;    
    border-radius: 5px;
    border: 2px solid var(--headings-text-color);
}

.photo-upload {
    height: 3vh;
    width: 3vh;
}

.submitt {
    display: block;
    background-color: #d8c690;
    margin-top: 2vh;
}

.form-background {
    background-color: #4e577b;
    border: 3px solid #262b3d;
    color: #be9e44;
}

.form-select {
    background-color: #4e577b;
    border: 2px solid var(--headings-text-color);
    color: #d8c690;
}

.form-select:active {
    border: 2px solid white;
}

.warning-message {
    color: red;
}