.form-check input{
    width: 1.25rem;
    height: 1.25rem;
    margin-top: 0.125em;
    margin-right: 4px;
    float: left;
    margin-left: -1.5em;
}

.input-values-instruments {
    background-color: white;
    border: 1px solid var(--primary-button-background-color);
    border-radius: 5px;
    color: var(--header-background-color);
    padding: 5px;
}

.margin-labels{
    display: flex;
    flex-direction: column;
    padding-left: 0.4vw;
}
.flex-box-radio {
    display: flex;
    justify-content: space-around;
    padding: 2vh;
}

.images-upload {
    display: block;
    padding-bottom: 1.5vh;
}

.w-100 {
    height: 33vh;
}

input[type="file"]{
    display: none;
}

.file-button {
    color: var(--headings-text-color);
    height: 7vh;
    width: 45%;
    background-color: #4e577b;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;    
    border-radius: 5px;
    border: 2px solid var(--headings-text-color);
}

.photo-upload {
    height: 3vh;
    width: 3vh;
}

.submitt {
    display: block;
    background-color: var(--secondary-button-text-color);
    margin-top: 2vh;
}

.form-background {
    background-color: #4e577b;
    border: 3px solid var(--header-background-color);
    color: var(--primary-button-background-color);
}

.form-select {
    background-color: #4e577b;
    border: 2px solid var(--headings-text-color);
    color: var(--secondary-button-text-color);
}

.form-select:active {
    border: 2px solid white;
}

.warning-message-score {
    color: #ffba82;
    padding-left: 2px;
}

.score-product-button-activate {
    border: none;
    background-color: white;
    color: var(--headings-text-color);
    border-radius: 20px;
    font-size: 1.5em;
    font-weight: 600;
    border: 2px solid var(--headings-text-color);
}

.score-product-button-activate:hover{
    background-color: #5e5e5e;
}

.star-button-activate-score {
    height: 1.5em;
    margin-bottom: 1px;
}