.containerDetail {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #4e577b;
  padding: 8vh 0 11vh 0;
}

.top-section{
  margin-left: 5rem !important;
  margin-right: 5rem !important;
  margin-top: 1rem !important;
}

@media (max-width: 1100px) {
  .containerDetail {
    flex-direction: column;
  }
}

.containerDetail2 {
  display: flex;
  justify-content: center;
  background-color: var(--header-background-color);
  padding-bottom: 7vh;
  padding-top: 7vh;
}

.arrow-title {
  background-color: #4e577b;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.contBtnBack {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-start-second {
  display: flex;
  flex-direction: row;
}

.contTituloProd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.arrow-title {
  background-color: var(--azul-medio);
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  color: var(--dorado);
}

.descripcionInstrumento {
  margin: 0vh 1vw 0 0vw;
  border: var(--headings-text-color) 2px solid;
  border-radius: 10px;
  padding: 1.5vw;
}

.descripcionInstrumento span {
  font-size: 3vh;
  color: var(--secondary-button-text-color);
}

.descripcionInstrumento p {
  margin-top: 5vh;
  color: var(--secondary-button-text-color);
}

.detallesInstrumento {
  margin: 0vh 0vw 0vh 4vw;
  padding: 1.5vw;
  border: var(--headings-text-color) 2px solid;
  border-radius: 10px;
}

hr {
  border-color: var(--headings-text-color);
}

.detallesInstrumento span {
  font-size: 3vh;
  color: var(--secondary-button-text-color);
}
.detallesInstrumento span {
  font-size: 3vh;
  color: var(--secondary-button-text-color);
}

.detallesInstrumento p {
  margin-top: 5vh;
  color: var(--secondary-button-text-color);
  padding-bottom: 4px;
}

a img {
  border: var(--headings-text-color) 3px solid;
}

.btn-previous {
  height: 3.2vh;
  width: 3vw;
  margin-top: 2px;
  margin-right: 4vh;
}

.btn-previous:hover {
  fill: white;
}

.everyDetail {
  background-color: #5e5e5e;
}

.title-a {
  text-decoration: none;
  color: inherit;
  color: var(--headings-text-color);
  font-weight: 600;
  font-size: 3vh;
}

.detalleBrush {
  height: 3.5vh;
  width: 1.8vw;
}
.btn-previous {
  height: 50px;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}

.btn-previous:hover {
  fill: white;
  transform: scale(1.1);
  transition: all 0.3s linear;
  cursor: pointer;
}

.text-start-second {
  display: flex;
  flex-direction: row;
}

.title-a {
  text-decoration: none;
  font-weight: 600;
  font-size: 1.5em;
}


/*IMAGENES DE PRODUCTO*/
@media (min-width: 920px) {
  .galeryContainer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    -webkit-box-align: center;
    align-items: center;
  }
}

.galeryContainer > img {
  display: inline-block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  max-width: 100%;
}

@media (min-width: 920px) {
  .galeryContainer > img:first-of-type {
    grid-area: 1/1/3/1;
  }
}

@media (max-width: 920px) {
  .galeryContainer > img:first-of-type {
    width: 100%;
    object-fit: cover;
    max-width: 100%;
  }

  .galeryContainer > img:first-of-type {
    display: block;
  }

  .galeryContainer > img {
    display: none;
  }
}

.prodDetailGallery {
  border-radius: 5px;
  transform: scale(1);
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  border: solid 1px rgb(182, 182, 182);
}

.prodDetailGallery:hover {
  transform: scale(0.98);
  box-shadow: 0px 2px 15px 5px rgb(252, 245, 182) !important;
  transition: all 0.2s linear;
}

.contenedorGalery {
  padding: 1%;
  margin: 0 auto;
  width: 90%;
}

.descripYCaract {
  text-align: left;
  color: var(--gris);
  background-color: var(--azul-medio);
  padding: 3%;
}

.caracteristicasProd > hr {
  border: 1px solid var(--dorado);
}

.policy h1{
  text-decoration: underline;
  margin: 1rem 2rem;
}

.typePolicy{
  display: flex;
  flex-direction: row;
}
.typePolicy h5{
  font-size: 1.5rem;
  text-align: center;
}
.uso{
  width: 50%;
  margin: 2rem 3rem;
  text-align: justify;
}
.almacenamiento{
  width: 50%;
  margin: 2rem 3rem;
  text-align: justify;
}

/*---DETALLE GALERIA---*/



.slider {
  position: fixed;
  top: 0; left:0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  z-index: 100;
  background: rgba(0, 0, 0, .8);
  
  
}

.image {
  width: 50%;
  height: 50%;
  border-radius: 10px;
  padding: 5%;
  margin: 0 auto;
}

@media (max-width: 920px){
  .image {
      width: 88%;
      height: 50%;
      border-radius: 10px;
      padding: 5%;
      margin: 0 auto;
    }
  }

.right-arrow {
  position: absolute;
  top: 50%;
  right: 45px;
  font-size: 3rem;
  color: rgb(255 255 255 / 53%);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 45px;
  font-size: 3rem;
  color: rgb(255 255 255 / 53%);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 0.5s;
  transform: scale(1.06);
}



/*----------------------*/

