.reservas {
  background-color: #4e577b;
  padding: 1.5%;
}

.col-md-6 {
  background-color: #4e577b;
}

.sub .container{   
    background-color: #dadbdf;
    border-radius: 2%;
    margin-top: -105vw;
}
.sub {
  background-color: #dadbdf;
  border-radius: 2%;
  padding: 1%;
  margin-top: -5vh;
}

.sub button {
  margin: 2% 32% 3%;
  width: 12vw;
}

.reservasProducto .everyDetail {
    background-color:  #4e577b;
    margin: 2vw 
};

@media (max-width: 1200px){
    .sub .container {
        margin-top: 0;
   }}

