.footer {   
    width: 100%;
    background-color: var(--azul-grisaceo);
    color: #be9e44;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: 0;
}

.copyright {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.companyName {
  font-size: 1.2rem;
  margin-right: 1rem;
}

.logos {
  display: flex;
  margin-right: 1rem;
}

.logos > a {
  color: #be9e44;
  margin-right: 1rem;
}
