.header {
  position: sticky;
  top: 0;
  display: flex;
  background-color: #262b3d;
  width: 100%;
  height: 5em;
  justify-content: space-between;
}

.logoSlogan {
  display: flex;
}

.bg-dark-blue {
  background-color: #262b3d;
}

.navbar-brand {
  font-size: 1em;
  font-weight: 500;
  color: #be9e44;
  text-decoration: none;
}

@media (max-width: 2180px) {
  .navbar-brand img {
    height: 2.5em;
  }
}

@media (max-width: 486px) {
  .navbar-brand {
    font-size: 0.95em;
  }
  .navbar-brand img {
    height: 2.3em;
  }
}

@media (max-width: 472px) {
  .navbar-brand {
    font-size: 0.89em;
  }
}

@media (max-width: 442px) {
  .navbar-brand {
    font-size: 0.82em;
  }
}

@media (max-width: 418px) {
  .navbar-brand {
    font-size: 0.77em;
  }
}

@media (max-width: 400px) {
  .navbar-brand {
    font-size: 0.7em;
  }
}

@media (max-width: 376px) {
  .navbar-brand {
    font-size: 0.65em;
  }
}

@media (max-width: 359px) {
  .navbar-brand {
    font-size: 0.58em;
  }
}

.navbar-brand:hover {
  color: white;
}

.logoSlogan span {
  margin-left: 1em;
  margin-top: 2.2em;
  font-size: 1.2rem;
  font-weight: 540;
  color: #be9e44;
}

.buttons {
  margin-top: 2em;
  margin-right: 3em;
}

.button {
  color: #be9e44;
  border: none;
}

.button:hover {
  color: white;
}
.no-highlight {
  color: white !important;
}

.user-sub {
  color: white !important;
}

.opt-dropdown {
  color: #be9e44;
  background-color: #262b3d;
  border: none;
}

@media (min-width: 992px) {
  .opt-dropdown {
    display: none;
  }
}
