.header {
    position: sticky;
    top:0;
    display: flex; 
    background-color: var(--header-background-color);
    width: 100%;
    height: 5em;
    justify-content: space-between;

}

.logoSlogan {
  display: flex;
}

.bg-dark-blue {
  background-color: var(--header-background-color);
}

.navbar-brand {
    font-size: 1em;
    font-weight: 500;
    color: var(--headings-text-color);
    text-decoration: none;
}

.navbar-brand small {
    margin-left: 10px;
}

.navbar-brand:hover {
  color: white;
}

.buttons {
  margin-top: 2em;
  margin-right: 3em;
}

.button {
  color: #be9e44;
  border: none;
}

.button:hover {
  color: white;
}
.no-highlight {
  color: white !important;
}

.user-sub {
  color: white !important;
}

.opt-dropdown {
  color: #be9e44;
  background-color: #262b3d;
  border: none;
}

.dropdown-menu[data-bs-popper] {
    right: 0;
    left: unset;
}

@media(max-width:767px) {
    .navbar-brand small {
        display: none;
    }
}

@media (min-width: 992px) {
  .opt-dropdown {
    display: none;
  }
}

@media (max-width: 2180px) {
    .navbar-brand img {
        height: 2.5em;
    }
}