.containerDetail {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #4e577b;
  padding: 8vh 0 11vh 0;
}

@media (max-width: 1100px) {
  .containerDetail {
    flex-direction: column;
  }
}

.containerDetail2 {
  display: flex;
  justify-content: center;
  background-color: #262b3d;
  padding-bottom: 7vh;
  padding-top: 7vh;
}

.arrow-title {
  background-color: #4e577b;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.descripcionInstrumento {
  margin: 0vh 1vw 0 0vw;
  border: #be9e44 2px solid;
  border-radius: 10px;
  padding: 1.5vw;
}

.descripcionInstrumento span {
  font-size: 3vh;
  color: #d8c690;
}

.descripcionInstrumento p {
  margin-top: 5vh;
  color: #d8c690;
}

.detallesInstrumento {
  margin: 0vh 0vw 0vh 4vw;
  padding: 1.5vw;
  border: #be9e44 2px solid;
  border-radius: 10px;
}

hr {
  border-color: #be9e44;
}

.detallesInstrumento span {
  font-size: 3vh;
  color: #d8c690;
}

.detallesInstrumento p {
  margin-top: 5vh;
  color: #d8c690;
  padding-bottom: 4px;
}

a img {
  border: #be9e44 3px solid;
}

.btn-previous {
  height: 3.2vh;
  width: 3vw;
  margin-top: 2px;
  margin-right: 4vh;
}

.btn-previous:hover {
  fill: white;
}

.everyDetail {
  background-color: #5e5e5e;
}

.title-a {
  text-decoration: none;
  color: inherit;
  color: #be9e44;
  font-weight: 600;
  font-size: 3vh;
  margin-left: 8.5vw;
}

.detalleBrush {
  height: 3.5vh;
  width: 1.8vw;
}

.gallerySecundarias {
  display: flex;
  flex-direction: column;
}

.gallerySecundarias div {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 1100px) {
  .gallerySecundarias div {
    flex-direction: column;
  }
}
.gallerySecundarias div img {
  display: flex;
}

.gallerySecundarias div img {
  width: 18em;
}

.galleryPrincipal img {
  width: 70vh;
}

.logoDescripcion {
  width: 1.5vw;
}

.btn-images {
  background: none;
  border: none;
  color: #d8c690;
  font-weight: 600;
}

.btn-images:hover {
  color: white;
}

.imagen-7 {
  height: 12vw;
}

@media (max-width: 1100px) {
  .imagen-7 {
    height: 19vw;
  }
}

.imagen-6 {
  height: 12vw;
}

@media (max-width: 1100px) {
  .imagen-6 {
    height: 18vw;
  }
}

.imagen-4 {
  height: 5.5vw;
}

@media (max-width: 1100px) {
  .imagen-4 {
    height: 10.5vw;
  }
}
