#root {

  text-align: center;
  background-color: rgb(71, 71, 71);
}


.img-card{
  height: 100px;
}

.cards-container{
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 90vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
}


